<h1>Profile</h1>


<p>
	Username: <%= @profile.username %>
</p>
<p>
	First Name: <%= @profile.first_name %>
</p>
<p>
	Last name: <%= @profile.last_name %>
</p>
<p>		
	Birthday: <%= @profile.birthday %>
</p> 